
<div class="card">
  <h2>Animation Speed</h2>

  <ul class="card-buttons-car">
    <li>
      <div>
        <a href="#" class="button is-bold" data-toggler-run="go">.2s</a>
      </div>
      <div class="position-relative">
        <%= image_tag 'bird_hayabusa.png', class: 'animal size-80 duration-2' %>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="button is-bold" data-toggler-run="go">.5s</a>
      </div>
      <div class="position-relative">
        <%= image_tag 'animal_hyou_panther.png', class: 'animal size-120 duration-5' %>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="button is-bold" data-toggler-run="go">.8s</a>
      </div>
      <div class="position-relative">
        <%= image_tag 'cat_kuroashineko.png', class: 'animal size-60 duration-8' %>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="button is-bold" data-toggler-run="go">1s</a>
      </div>
      <div class="position-relative">
        <%= image_tag 'character_turtle_oya.png', class: 'animal size-60 duration-10' %>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="button is-bold" data-toggler-run="go">2s</a>
      </div>
      <div class="position-relative">
        <%= image_tag 'bug_character_katatsumuri.png', class: 'animal size-50 duration-20' %>
      </div>
    </li>
  </ul>
</div>

<div class="card">
  <h2>Button / Duration</h2>
  <ul class="card-buttons-horizontal">
    <li>
      <a href="#" class="button is-bold duration-2" data-hover>.2s</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-5" data-hover>.5s</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-8" data-hover>.8s</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-10" data-hover>1s</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-20" data-hover>2s</a>
    </li>
  </ul>
</div>

<div class="card">
  <h2>Input Error / Repeat</h2>

  <ul class="card-buttons-horizontal">
    <li>
      <input type="text" class="input count-1" placeholder="1" data-trigger-target />
    </li>
    <li>
      <input type="text" class="input count-2" placeholder="2" data-trigger-target />
    </li>
    <li>
      <input type="text" class="input count-3" placeholder="3" data-trigger-target />
    </li>
    <li>
      <input type="text" class="input count-4" placeholder="4" data-trigger-target />
    </li>
    <li>
      <input type="text" class="input count-5" placeholder="5" data-trigger-target />
    </li>
  </ul>

  <ul class="card-buttons-vertical is-hidden">
    <li>
      <a href="#" class="button" data-trigger>action</a>
    </li>
  </ul>
</div>

<%# 
<div class="card">
  <h2>ms</h2>
  <ul class="card-buttons-horizontal">
    <li>
      <a href="#" class="button is-bold duration-50ms" data-hover>50ms</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-100ms" data-hover>100ms</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-200ms" data-hover>200ms</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-500ms" data-hover>500ms</a>
    </li>
    <li>
      <a href="#" class="button is-bold duration-1000ms" data-hover>1000ms</a>
    </li>
  </ul>
</div> %>
