<!DOCTYPE html>
<html>
  <head>
    <title>RailsdmSampleProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">

    <%= render partial: 'layouts/header' %>

    <div class="layout-login">
      <div class="layout-login__inner">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>    
    </div>
  </body>
</html>
